// ==========================================================================
// OVERWRITES | Header
// ==========================================================================

.Nav--toggled {
  // Toggler
  .Toggler {

    span:not(.Toggler__label) { left: ($px * 11); }

    span:nth-child(2),
    span:nth-child(5) { opacity: 0; }

    span:nth-child(3),
    span:nth-child(4) { width: calculate-rem(20); }

    span:nth-child(3) { transform: rotate(45deg); }
    span:nth-child(4) { transform: rotate(-45deg); }
  }

  @media only screen and (max-width: ($breakpoint--header - $px)) {
    overflow: hidden;

    .Header__nav {
      opacity: 1;
      height: calc(100% - var(--height--header));
      visibility: visible;
      transition: opacity var(--transition--normal);
    }
  }

  @media only screen and (min-width: $breakpoint--header) {
    .Header__nav {
      opacity: 1;
      transform: translateX(0);
      transition: transform var(--transition--normal);
    }
  }
}
