// ==========================================================================
// GLOBAL | Links
// ==========================================================================

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  transition: color var(--transition--normal), background-color var(--transition--normal), border-color var(--transition--normal);

  &:hover,
  &:focus {
    color: var(--color--link-hover);
    fill: var(--color--link-hover);
  }

  &:focus {
    outline: none;
  }
}
