// ==========================================================================
// GLOBAL | Typography
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// -----

p {
  margin: 0;
}

// -----

b,
strong { }

// -----

blockquote {
  margin: 0;
}


abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

address { font-style: normal; }
