.App {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 15px 0;
}

.text-theme-orange {
  color: #ea5c33;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

ul, li {
  list-style: circle;
}

ul {
  margin-left: 5px;
}
li {
  margin-left: 15px;
}

p {
  margin: 15px 0;
}

a {
  text-decoration: underline;
  color: #3b82f6;
}
