// ==========================================================================
// OBJECTS | Content
// ==========================================================================

.Content {
  flex-grow: 1; // Makes .Content take up all available space (less jumpy when navigating)
  position: relative;
  margin: calc(var(--offset--content) / 2) calc(-1 * var(--gutter--m));
  padding: var(--spacing--m) var(--spacing--s);
  background-color: var(--color--bg-primary);
  box-shadow: 0 ($px * 2) grid--l(2) 0 var(--color--box-shadow);

  @media only screen and (min-width: $breakpoint--tablet--m) {
    margin: calc(var(--offset--content) / 2) 0;
    padding: var(--spacing--m);
    border-radius: var(--border-radius--content);
  }

  &:before {
    content: '';
    position: absolute;
    top: calc(var(--offset--content) / -2);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color--white--rgba-50);
    z-index: -1;

    @media only screen and (min-width: $breakpoint--tablet--m) {
      top: calc(var(--offset--content) / -2);
      left: calc(var(--offset--content) / 2);
      border-radius: var(--border-radius--content);
    }
  }

  h2 {
    position: relative;

    // Avoid header falling over anchor
    span {
      position: absolute;  
      top: calc(var(--height--header) * -1);
    }
  }
}

.Content__title {
  margin-right: grid(2);
  hyphens: auto;
  word-break: break-word;
}

.Content__edit {
  display: inline-block;
  @include title--xxs;
}
