// ==========================================================================
// OBJECTS | Header
// ==========================================================================

$breakpoint--header: $breakpoint--tablet--l;

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height--header);
  background-color: var(--color--bg-primary);
  z-index: 100;
}

.Header__inner {
  display: flex;
  align-items: center;
  height: var(--height--header);
  box-shadow: 0 ($px * 2) ($px * 20) 0 var(--color--box-shadow);
  @include gutter--m;
}

.Header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--height--header);
  @include container;


  &:hover,
    &:focus {
      .Header__image { transform: scale(1.05); }
    }
}

.Header__image {
  width: auto;
  height: 100%;
  max-height: grid--l(5);
  transform: scale(1);
  transition: transform $transition--normal;

  @media only screen and (min-width: $breakpoint--header) {
    max-height: grid--l(8);
  }
}

.Header__nav {
  background-color: var(--color--bg-primary);

  @media only screen and (max-width: ($breakpoint--header - $px)) {
    position: fixed;
    top: var(--height--header);
    left: 0;
    width: 100%;
    height: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
  }
  
  @media only screen and (min-width: $breakpoint--header) {
    position: absolute;
    top: 0;
    left: 0;
    width: grid--l(30);
    height: 100vh;
    padding-top: var(--height--header);
    transform: translateX(-100%);
    transition: transform var(--transition--normal);
    z-index: -1;
  }

  // Mobile shadow
  &:before {
    @media only screen and (max-width: ($breakpoint--header - $px)) {
      content: '';
      position: absolute;
      top: grid--l(-2);
      left: 0;
      width: 100%;
      height: grid--l(2);
      box-shadow: 0 ($px * 2) grid--l(2) 0 var(--color--box-shadow);
      clip-path: inset(0 grid--l(-2) grid--l(-2) grid--l(-2)); // Remove box-shadow top
    }
  }
}

// ==========================================================================
// OBJECTS | Header / Toggler
// ==========================================================================

.Toggler {
  position: relative;
  margin-right: grid--l(-1);
  padding: 0;
  width: grid--l(4);
  height: grid--l(4);
  background-color: transparent;

  &:hover,
  &:focus {
    .Toggler__label { color: var(--color--link); }
    span:not(.Toggler__label) { background-color: var(--color--link); }
    span:nth-child(3),
    span:nth-child(4) { width: grid--l(2); }
  }

  span:not(.Toggler__label) {
    display: block;
    position: absolute;
    top: 32%;
    left: ($px * 21);
    transform: translateX(-50%);
    height: grid(.25);
    width: grid--l(2);
    border-radius: calculate-rem(3);
    background-color: var(--color--link-header);
    transition: all var(--transition--normal);
  }

  span:nth-child(2) { margin-top: calculate-rem(6, true); }
  span:nth-child(3),
  span:nth-child(4) { width: grid(2); }
  span:nth-child(5) { margin-top: calculate-rem(6); }
}

.Toggler__label {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: ($px * 12);
  color: var(--color--link-header);
  transition: color var(--transition--normal);
  @include title-base;
}

// ==========================================================================
// OBJECTS | Header / Nav
// ==========================================================================

.Nav--header {
  .Nav__items {
    height: 100%;
    overflow-y: auto;
  }

  .Nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: grid--l(2) var(--gutter--m);
    font-size: ($px * 18);
    line-height: calculate-relative-lineheight( ($px * 18), ($px * 24) );
    color: var(--color--link-header);
    fill: var(--color--link-header);
    border-bottom: $px solid var(--color--border);
    @include title-base;
    @include fauxlink--hover-animation(var(--color--link), 'span');

    @media only screen and (min-width: $breakpoint--header) {
      padding: grid--l(2) grid--l(3);
    }

    &:hover,
    &:focus {
      color: var(--color--link);
      fill: var(--color--link);
    }
  }

  .Nav__link--active {
    color: var(--color--primary);
    fill: var(--color--primary);
  }

  .Nav__label { hyphens: auto; }

  .Nav__icon {
    flex-shrink: 0;
    margin-left: grid(1);
    transform: rotate(-90deg);
  }
}
