// ==========================================================================
// OBJECTS | Lists
// ==========================================================================

// ==========================================================================
// OBJECTS | Lists / Inline (WYSIWYG)
// -----
// By default list styling has been removed in the global styling, because
// in most instances lists don't have bullets (think about menu's etc).
// We use a pseudo-element implementation to add bullets/decimals to lists
// that come from WYSIWYG-editors via the .text--styled class.
// Added benefit is that we have more freedom in styling the bullets/decimals
// and greater assurance that all browsers display them the same.
// ==========================================================================

.text--styled {
  ol,
  ul {
    &:not(:last-child) { }
  }

  ol {
    counter-reset: section;

    > li {
      &:before {
        counter-increment: section;
        // content: counter(section)'.'; // Sublists without decimals: 1
        content: counters(section, ".")'.'; // Sublists with decimals: 1.1.1
        display: inline-block;
      }
    }
  }

  ul {
    > li {
      &:before {
        content: '';
      }
    }
  }
}
