// ==========================================================================
// OBJECTS | Lists
// ==========================================================================

// ==========================================================================
// OBJECTS | Lists / Inline (WYSIWYG)
// -----
// By default list styling has been removed in the global styling, because
// in most instances lists don't have bullets (think about menu's etc).
// We use a pseudo-element implementation to add bullets/decimals to lists
// that come from WYSIWYG-editors via the .text--styled class.
// Added benefit is that we have more freedom in styling the bullets/decimals
// and greater assurance that all browsers display them the same.
// ==========================================================================

.text--styled {
  ol,
  ul {
    &:not(:last-child) { margin-bottom: grid(3); }
    
    li {
      position: relative;
      padding-left: var(--indentation--lists);
      
      + li,
      ol,
      ul { margin-top: grid--l(1); }
    }

    + h1,
    + h2,
    + h3, 
    + h4,
    + h5,
    + h6 { padding-top: grid(2); }
  }

  ol {
    counter-reset: section;
    
    > li {
      &:before {
        display: block;
        position: absolute;
        left: 0;
        font-weight: var(--weight--bold);
        color: var(--color--lists);
        content: counters(section, ".") "."; // Sublists with decimals: 1.1.1
        counter-increment: section;
      }

      // Overwrite indentation for sublists; add extra spacing for additional decimal
      > ol > li {
        padding-left: calc(#{grid--l(1)} + #{var(--indentation--lists)});

        > ol > li {
          padding-left: calc(#{grid--l(2)} + #{var(--indentation--lists)});

          > ol > li {
            padding-left: calc(#{grid--l(3)} + #{var(--indentation--lists)});
          }
        }
      }
    }
  }

  ul {
    > li {
      &:before {
        content: '\2731';
        display: block;
        position: absolute;
        top: ($px * 16);
        left: 0;
        transform: translateY(-50%);
        font-size: ($px * 14);
        line-height: calculate-relative-lineheight(($px * 14), ($px * 32));
        color: var(--color--lists);
      }
    }
  }
}
