// ==========================================================================
// OBJECTS | Main
// ==========================================================================

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  margin-top: var(--height--header);
}

.main__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  @include spacing--m--top;

  @media only screen and (min-width: $breakpoint--tablet--l) {
    flex-direction: row;
  }
}
