// ==========================================================================
// OBJECTS | Figures
// ==========================================================================

img {
  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }

  &.lazyloaded {
    opacity: 1;
    transition: opacity $transition--normal;
  }
}

// ==========================================================================
// OBJECTS | Figures / Inline (WYSIWYG)
// ==========================================================================

.text--styled {
  p:last-child {
    img:last-child { margin-bottom: 0; }
  }
  
  img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: var(--spacing--wysiwyg);
    margin-bottom: var(--spacing--wysiwyg);
    border-radius: var(--border-radius--content);
    @include container;
  }
}
