// ==========================================================================
// OBJECTS | Table of Contents
// ==========================================================================

$breakpoint--toc: $breakpoint--tablet--l;

.ToC {
  margin-bottom: grid(3);

  @media only screen and (min-width: $breakpoint--toc) {
    flex-shrink: 0;
    width: grid--l(24);
    margin-right: var(--gutter--m);
    margin: var(--offset--content) var(--gutter--m) var(--offset--content) 0;
    padding-top: var(--spacing--m);
  }

  h2 {
    position: relative;
    margin-bottom: grid(2);
    color: var(--color--secondary);
    @include title--m;
  }

  ol {
    > li {  
      // Overwrite indentation for sublists; add extra spacing for additional decimal
      ol > li {
        padding-left: calc(.5 * #{var(--indentation--lists)});
      }
    }

    ol,
    li + li { margin-top: grid(1); }
  }

  a {
    font-weight: var(--weight--semibold);
    color: var(--color--text);
    transition: color var(--transition--normal);
    @include link--inverted-hover-animation(var(--color--link-hover));

    &:hover,
    &:focus { color: var(--color--link-hover); }

    &:before {
      content: '#. ';
      color: var(--color--link);
    }
  }
}

.ToC__inner {
  @media only screen and (min-width: $breakpoint--toc) {
    position: sticky;
    top: calc(var(--height--header) + #{grid(2)});
    transition: top .6s ease-in;

    .Header--invisible & { top: grid(2); }
  }
}

.ToC__title {
  @media only screen and (max-width: ($breakpoint--toc - $px)) {
    display: none;
  }
}

.ToC__toggle {
  @media only screen and (max-width: ($breakpoint--toc - $px)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: grid(3);
    width: 100%;
    text-align: left;
    font-weight: var(--weight--bold);
    background-color: var(--color--bg-primary);
    transition: border-radius var(--transition--normal);

    &[aria-expanded="false"] {
      border-radius: var(--border-radius--content);
    }
    
    &[aria-expanded="true"] {
      border-bottom: $px solid var(--color--border);
      border-radius: var(--border-radius--content) var(--border-radius--content) 0 0;

      .ToC__toggle-icon { transform: rotate(180deg); }
    }

    &:hover,
    &:focus {
      .ToC__toggle-label { color: var(--color--link); }
      .ToC__toggle-icon { fill: var(--color--link); }
    }
  }

  @media only screen and (min-width: $breakpoint--toc) {
    display: none;
  }
}

.ToC__toggle-label {
  @media only screen and (max-width: ($breakpoint--toc - $px)) {
    color: var(--color--secondary);
    transition: color var(--transition--normal);
  }
}

.ToC__toggle-icon {
  @media only screen and (max-width: ($breakpoint--toc - $px)) {
    width: grid(1.5);
    height: grid(1.5);
    transition: transform var(--transition--normal), fill var(--transition--normal);
  }
}

.ToC__content {
  @media only screen and (max-width: ($breakpoint--toc - $px)) {
    &[aria-hidden="true"] {
      visibility: hidden;
      height: 0;
      opacity: 0;
    }
    
    &[aria-hidden="false"] {
      visibility: visible;
      height: auto;
      opacity: 1;
      padding: grid(2) grid(3) grid(5);
      background-color: var(--color--bg-primary);
      border-radius: 0 0 var(--border-radius--content) var(--border-radius--content);
    }
  }
}
