// ==========================================================================
// Objects | Typography
// ==========================================================================

.text--m { @include text--m; }
.text--s { @include text--s; }

.text--center { text-align: center; }

// ==========================================================================
// OBJECTS | Typography / Inline (WYSIWYG)
// ==========================================================================

.text--styled {
  h1 {
    @include title--xl;
    padding-bottom: grid(2);
    margin-bottom: grid(3);
    border-bottom: $px solid var(--color--border);
  }

  h2 {
    &:not(:last-child) { margin-bottom: grid--l(2); }
  }

  h3,
  h4,
  h5,
  h6 {
    &:not(:last-child) { margin-bottom: grid--l(1); }
  }

  h3 { }

  h4,
  h5,
  h6 { }

  p,
  blockquote {
    &:not(:last-child) { margin-bottom: var(--spacing--wysiwyg); }
    
    + h1,
    + h2,
    + h3, 
    + h4,
    + h5,
    + h6 { padding-top: grid(2); }
  }
}
