// ==========================================================================
// SETTINGS | Colors
// Variables concerning miscellaneous: colors...
// ==========================================================================

$color--orange-400: #EA5C33;

$color--blue-200: #325584;
$color--blue-400: #0F6BFF;

$color--green-400: #9CC192;

$color--yellow-400: #F8D641;

$color--melon-400: #FEB8A4;

$color--grey-800: #E2E2E2;
$color--grey-900: #EFEFEF;
$color--grey-800--rgba-35:  rgba($color--grey-800, .35);

$color--black: #000;
$color--white: #FFF;
$color--white--rgba-50: rgba($color--white, .5);

$map--color-settings: (
  'color--orange-400': $color--orange-400,
  'color--blue-200': $color--blue-200,
  'color--blue-400': $color--blue-400,
  'color--green-400': $color--green-400,
  'color--yellow-400': $color--yellow-400,
  'color--melon-400': $color--melon-400,
  'color--grey-800': $color--grey-800,
  'color--grey-900': $color--grey-900,
  'color--black': $color--black,
  'color--white': $color--white,
  'color--white--rgba-50': $color--white--rgba-50,
  'color--grey-800--rgba-35': $color--grey-800--rgba-35,
);

// ==========================================================================
// Implementations
// ==========================================================================

@function clr($var) {
  @return get-var($var, $map--color-settings);
}

$map--colors-implementations: (
  'color--primary': clr('color--orange-400'),
  'color--secondary': clr('color--blue-200'),
  'color--bg-primary': clr('color--white'),
  'color--bg-secondary': clr('color--grey-900'),
  'color--text': clr('color--black'),
  'color--link': clr('color--blue-400'),
  'color--link-hover': clr('color--blue-200'),
  'color--link-header': clr('color--blue-200'),
  'color--lists': clr('color--orange-400'),
  'color--border': clr('color--grey-900'),
  'color--selection': clr('color--melon-400'),
  'color--box-shadow': clr('color--grey-800')
);

// ==========================================================================
// CONFIG
// Merge settings into large generic settings map
// ==========================================================================

$map--colors: map-merge($map--color-settings, $map--colors-implementations);
$map--settings: map-merge($map--settings, $map--colors);
