// ==========================================================================
// SETTINGS | Sizes
// Variables concerning sizes: spacing, gutters, widhts, breakpoints...
// ==========================================================================

// ----- Font sizes

$px: 0.0625rem;

// ----- Fluid sizing thresholds

$threshold--mobile: ($px * 320);
$threshold--tablet: ($px * 768);
$threshold--desktop: ($px * 1440);

// ----- Widths

$width--m: ($px * 1200);
$width--m-gutter: ($px * 1320); // This variable contains the default desktop gutter: in this example 2x60px

// ----- Gutters & Spacings

$grid: ($px * 8);
$grid--l: ($px * 10);

// ----- Breakpoints

$breakpoint--mobile--s: ($px * 375);
$breakpoint--mobile--m: ($px * 480);
$breakpoint--tablet--m: ($px * 768);
$breakpoint--tablet--l: ($px * 1024);
$breakpoint--desktop--m: ($px * 1280);

$map--size-settings: (
  'width--m': $width--m,
  'width--m-gutter': $width--m-gutter,
  'grid': $grid,
  'grid--l': $grid--l,
);

// ==========================================================================
// Implementations
// ==========================================================================

@function sz($var) {
  @return get-var($var, $map--size-settings);
}

$map--size-implementations: ();

:root {
  --gutter--m: calc(#{$px} * 20);
  --spacing--s: calc(#{$px} * 20);
  --spacing--m: calc(#{$px} * 40);
  --spacing--wysiwyg: calc(#{$px} * 30);
  --height--header: calc(#{$px} * 88);
  --indentation--lists: calc(#{$px} * 24);

  @media only screen and (min-width: $breakpoint--tablet--m) {
    --gutter--m: calc(#{$px} * 40);
    --spacing--s: calc(#{$px} * 40);
    --spacing--m: calc(#{$px} * 60);
    --indentation--lists: calc(#{$px} * 30);
  }

  @media only screen and (min-width: $breakpoint--tablet--l) {
    --height--header: calc(#{$px} * 160);
  }

  @media only screen and (min-width: $breakpoint--desktop--m) {
    --gutter--m: calc(#{$px} * 60);
  }
}


// ==========================================================================
// CONFIG
// Merge settings into large generic settings map
// ==========================================================================

$map--sizes: map-merge($map--size-settings, $map--size-implementations);
$map--settings: map-merge($map--settings, $map--sizes);
