// ==========================================================================
// SETTINGS | Fonts
// Variables concerning fonts: family, weights, styles, etc...
// ==========================================================================

// ----- Font families

@font-face {
  font-family: 'Pluto';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PlutoBold.otf') format('opentype'),
}

@font-face {
  font-family: 'Pluto';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PlutoHeavy.otf') format('opentype'),
}

$font--montserrat: 'Montserrat', sans-serif;
$font--pluto: 'Pluto', sans-serif;

$map--fonts: (
  'font--montserrat': $font--montserrat,
  'font--pluto': $font--pluto,
);

// ----- Font weights

$weight--regular: 400;
$weight--semibold: 600;
$weight--bold: 700;

$map--weights: (
  'weight--regular': $weight--regular,
  'weight--semibold': $weight--semibold,
  'weight--bold': $weight--bold,
);

// ----- Font styles

$style--italic: italic;

$map--styles: (
  'style--italic': $style--italic,
);

$map--typography-settings: map-collect($map--fonts, $map--weights, $map--styles);

// ==========================================================================
// Implementations
// ==========================================================================

@function tp($var) {
  @return get-var($var, $map--typography-settings);
}

$map--typography-implementations: (
  'font--text': tp('font--montserrat'),
  'font--titles': tp('font--pluto'),
  'letterspacing--titles': -.4px,
  'letterspacing--text': -.2px
);

// ==========================================================================
// CONFIG
// Merge settings into large generic settings map
// ==========================================================================

$map--typography: map-merge($map--typography-settings, $map--typography-implementations);
$map--settings: map-merge($map--settings, $map--typography);
